/* Variable color
*****************/

$bgheaderColor:#254087;

$yellowColor:#FAA91A;

$orangeColor : #ff9900;

$greenColor : #7D9E75;

$lightGray : #f9f9f9;

$line : #ced4da;

$borderLine : #007bff;











