<!-- start Basic info -->
<!-- th:object="${greeting}" -->

<div  ng-form="basicForm"  ng-init="initializeBasicInfo();">

<div   class="container content-box"  >

    <h4 class="boxToggle "><i class="fas fa-info-circle mr-2 "></i>BASIC INFORMATION</h4>

    <div class="row">

        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Date</div>
                <input type="text" name="date" ng-model="basicInfo.entryDate" ng-bind="basicInfo.entryDate|date:'yyyy-MM-dd'" required class="form-control" id="datepicker"/>

            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>User Name</div>
                <input type="text" name="username" ng-model="basicInfo.userName" readonly class="form-control"/>
            </div>

        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Location</div>

                <select name="locationId" ng-model="basicInfo.locationId" required class="form-control">
                    <option value="">---Please Select---</option>
                    <option ng-repeat="x in locationDAOs" value={{x.loginUserId}}>{{x.location}}</option>
                </select>


            </div>

        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Company Name</div>
                <input type="text" ng-model="basicInfo.company" readonly class="form-control"/>

            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Item Code</div>
                <input type="text" name="itemCode"  ng-model="basicInfo.itemCode" class="form-control"/>

                <!--<select name="itemId" ng-model="basicInfo.itemId" required class="form-control">

                    <option value="">---Please Select---</option>
                    <option ng-repeat="x in itemDAOs" value={{x.id}}>{{x.itemDescription}}</option>
                </select>-->
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Item Description</div>
                <input type="text" name="itemDescription" ng-model="basicInfo.itemDescription" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Serial Number</div>
                <input type="text" name="serialNo" ng-model="basicInfo.serialNo" required class="form-control"/>

            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Qty</div>
                <input type="number" name="qty" ng-model="basicInfo.qty" required class="form-control"/>

            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Manufacturer</div>
                <input type="text" name="manufacturer" ng-model="basicInfo.manufacturer" readonly
                       class="form-control"/>

            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <!--<div class="form-group">-->
                <!--<div>Warranty</div>-->
                <!--<input id="rdwarranty1" type="radio" name="warranty" ng-model="basicInfo.warranty" value="Yes" required class="form-control"/>-->
                <!--<label for="rdwarranty1">Yes</label>-->
                <!--<input id="rdwarranty2" type="radio" name="warranty" ng-model="basicInfo.warranty" value="No" required class="form-control"/>-->
                <!--<label for="rdwarranty1">No</label>-->

            <!--</div>-->


            <div class="mb-1">Warranty</div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="rdwarranty1" name="warranty" ng-model="basicInfo.warranty" value="Yes" required>
                <label class="custom-control-label" for="rdwarranty1">YES</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="rdwarranty2" name="warranty" ng-model="basicInfo.warranty" value="No" required>
                <label class="custom-control-label" for="rdwarranty2">NO</label>
            </div>

        </div>
    </div>
    <hr>
</div>
<!-- End  Basic info -->

<!-- start Storage Info -->
<div class="container content-box">

    <h4 class="boxToggle "><i class="fas fa-database mr-2"></i>STORAGE INFORMATION</h4>


    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Storage Location</div>
                <input ng-model="basicInfo.storageLocation" type="text" class="form-control"/>
            </div>
        </div>


        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Shelf / Bay Number</div>
                <input name="shelfByNo" ng-model="basicInfo.shelfByNo" type="number" class="form-control"/>
            </div>
        </div>



        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Cabinet Shelf No</div>
                <input name="cabnetShelfNo" ng-model="basicInfo.cabnetShelfNo" type="number" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <!--<div class="form-group">-->
                <!--<div>Stored In Cabinet</div>-->
                <!--<input name="storedInCabnet" ng-model="basicInfo.storedInCabnet" type="radio" value="Yes" class="form-control"/>-->
                <!--<input name="storedInCabnet" ng-model="basicInfo.storedInCabnet" type="radio" value="No" class="form-control"/>-->
            <!--</div>-->

            <div  class="mb-1">Stored In Cabinet</div>
            <div class="custom-control custom-radio custom-control-inline mb-2" >
                <input class="custom-control-input" name="storedInCabnet" ng-model="basicInfo.storedInCabnet" type="radio" value="Yes" id="stoCabinet">
                <label class="custom-control-label" for="stoCabinet">YES</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline mb-2">
                <input class="custom-control-input" name="storedInCabnet" ng-model="basicInfo.storedInCabnet" type="radio" value="No" id="stoCabinet2">
                <label class="custom-control-label" for="stoCabinet2">NO</label>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <!--<div class="form-group">-->
                <!--<div>Stored On Shelf</div>-->
                <!--<input  name="storageOnShelf" ng-model="basicInfo.storageOnShelf" value="Yes" type="radio" class="form-control"/>-->
                <!--<input name="storageOnShelf" ng-model="basicInfo.storageOnShelf" value="No" type="radio" class="form-control"/>-->
            <!--</div>-->

            <div  class="mb-1">Stored On Shelf</div>


            <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input"  name="storageOnShelf" ng-model="basicInfo.storageOnShelf" value="Yes" type="radio" id="storShelf">
                <label class="custom-control-label" for="storShelf">YES</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" name="storageOnShelf" ng-model="basicInfo.storageOnShelf" value="No" type="radio" id="storShelf2">
                <label class="custom-control-label" for="storShelf2">NO</label>
            </div>
        </div>



    </div>
    <hr>

</div>
<!-- End  Storage Info -->

<!-- start ITEM HANDLING  -->
<div class="container content-box">

    <h4 class="boxToggle "><i class="fas fa-list-ul mr-2"></i>ITEM HANDLING</h4>


    <div class="row">


        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Special Handling Notes</div>
                <input name="specialHandlingNotes" ng-model="basicInfo.specialHandlingNotes" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Approx Weight</div>
                <input name="approxWeight" ng-model="basicInfo.approxWeight" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <!--<div class="form-group">-->
            <!--<div>Special Handling Required</div>-->
            <!--<input name="spcialHandlinReq" ng-model="basicInfo.spcialHandlinReq" value="Yes" type="radio" class="form-control"/>-->
            <!--<input name="spcialHandlinReq" ng-model="basicInfo.spcialHandlinReq" value="No" type="radio" class="form-control"/>-->
            <!--</div>-->

            <div  class="mb-1">Special Handling Required</div>
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" name="spcialHandlinReq" ng-model="basicInfo.spcialHandlinReq" value="Yes" type="radio"  id="spcialHandlinReq">
            <label class="custom-control-label" for="spcialHandlinReq">YES</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" name="spcialHandlinReq" ng-model="basicInfo.spcialHandlinReq" value="NO" type="radio"  id="spcialHandlinReq2">
            <label class="custom-control-label" for="spcialHandlinReq2">NO</label>
        </div>
        </div>

    </div>
    <hr>
</div>
<!-- End  ITEM HANDLING  -->

<!-- start CALIBRATION   -->
<div class="container content-box">

    <h4 class="boxToggle "><i class="fas fa-weight mr-2"></i>CALIBRATION</h4>

    <div class="row">


        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Date Calibrated</div>
                <input id="calibDate" name="calibratedDate" ng-model="basicInfo.calibratedDate" ng-bind="basicInfo.calibratedDate" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Validity Of Calibration</div>
                <input id="calbValid" name="calibrationValidity" ng-model="basicInfo.calibrationValidity" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="form-group">
                <div>Calibration Due Date</div>
                <input id="calbduedate" name="calibrationDueDate" ng-model="basicInfo.calibrationDueDate" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <!--<div class="form-group">-->
                <!--<div>Calibration Required</div>-->
                <!--<input name="calibrationRequired" ng-model="basicInfo.calibrationRequired" value="True" type="radio" class="form-control"/>-->
                <!--<input name="calibrationRequired" ng-model="basicInfo.calibrationRequired" value="False" type="radio" class="form-control"/>-->
            <!--</div>-->
            <div  class="mb-1">Calibration Required</div>
            <div class="custom-control custom-radio custom-control-inline mb-2">
                <input class="custom-control-input" name="calibrationRequired" ng-model="basicInfo.calibrationRequired" value="YES" type="radio" id="calibrationRequired">
                <label class="custom-control-label" for="calibrationRequired">YES</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline mb-2">
                <input class="custom-control-input" name="calibrationRequired" ng-model="basicInfo.calibrationRequired" value="NO" type="radio" id="calibrationRequired2">
                <label class="custom-control-label" for="calibrationRequired2">NO</label>
            </div>


        </div>


    </div>
    <hr>
</div>
<!-- End  CALIBRATION   -->

<!-- start ITEM CONDITION    -->
<div class="container content-box">

    <h4 class="boxToggle "><i class="fas fa-asterisk mr-2"></i>ITEM CONDITION</h4>

    <div>Item Condition</div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 ">
            <select name="itemCondition" ng-model="basicInfo.itemCondition" required class="form-control mb-2">
                <option value="" selected="selected">---Please Select---</option>
                <option ng-repeat="x in data.availableOptions" value={{x.id}}>{{x.name}}</option>
            </select>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<div class="col-xl-4 col-lg-6">-->
            <!--<div class="form-group">-->
                <!--<div>New</div>-->
                <!--<input name="itemNew" ng-model="basicInfo.itemNew" type="radio" value="Yes" class="form-control"/>-->
                <!--<input name="itemNew" ng-model="basicInfo.itemNew" type="radio" value="No" class="form-control"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xl-4 col-lg-6">-->
            <!--<div class="form-group">-->
                <!--<div>Used</div>-->
                <!--<input name="itemUsed" ng-model="basicInfo.itemUsed" type="radio" value="Yes" class="form-control"/>-->
                <!--<input name="itemUsed" ng-model="basicInfo.itemUsed" type="radio" value="No" class="form-control"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xl-4 col-lg-6">-->
            <!--<div class="form-group">-->
                <!--<div>Reconditioned</div>-->
                <!--<input name="itemReconditioned" ng-model="basicInfo.itemReconditioned" type="radio" value="Yes" class="form-control"/>-->
                <!--<input name="itemReconditioned" ng-model="basicInfo.itemReconditioned" type="radio" value="No" class="form-control"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xl-4 col-lg-6">-->
            <!--<div class="form-group">-->
                <!--<div>Useable</div>-->
                <!--<input name="itemUseable" ng-model="basicInfo.itemUseable" type="radio" value="Yes" class="form-control"/>-->
                <!--<input name="itemUseable" ng-model="basicInfo.itemUseable" type="radio" value="No" class="form-control"/>-->
            <!--</div>-->
        <!--</div>-->


    <!--</div>-->
    <hr>
</div>
<!-- End  ITEM CONDITION    -->

<!-- start SUPPLIER INFORMATION   -->
<div class="container content-box">

    <h4 class="boxToggle "><i class="fas fa-phone mr-2"></i>SUPPLIER INFORMATION</h4>

    <div>Supplier</div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 ">
            <select name="itemCondition" ng-model="basicInfo.supplierId" required class="form-control mb-2">
                <option value="" selected="selected">---Please Select---</option>
                <option ng-repeat="xm in servers" value={{xm.id}}>{{xm.name}}</option>
            </select>
        </div>
    </div>

    <div>Supplier Representative</div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 ">
            <select name="itemCondition" ng-model="basicInfo.supplier_Rep_Id" required class="form-control mb-2">
                <option value="" selected="selected">---Please Select---</option>
                <option ng-repeat="xm in supplierRep" value={{xm.id}}>{{xm.name}}</option>
            </select>
        </div>
    </div>



</div>
<!-- End  SUPPLIER INFORMATION   -->


<hr>
<div class="bottom">
    <div class="row">
        <div class="col-lg-8">


        </div>
        <div class="col-lg-4">
            <div class="float-right">
                <buttton class="btn btn-secondary " ><i class="fas fa-times mr-1"></i>Cancel </buttton>
                <buttton class="btn btn-secondary" id="btnupdate" ng-click="updateBasicInformation()" style="display: none;"><i class="fas fa-times mr-1"></i>Update </buttton>
                <buttton class="btn btn-primary " id="btnSubmit" ng-click="saveBasicInformation()"><i class="fas fa-check mr-1"></i>Submit</buttton>
            </div>
        </div>
    </div>

</div>



<script>
    $(document).ready(function () {

//        $('.boxToggle ').click(function(){
//            $(this).next().toggle();
//
//
//        });

        $( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'}.valueOf());
        $( "#calibDate" ).datepicker({dateFormat: 'yy-mm-dd'}).valueOf();
        $( "#calbValid" ).datepicker({dateFormat: 'yy-mm-dd'}).valueOf();
        $( "#calbduedate" ).datepicker({dateFormat: 'yy-mm-dd'}).valueOf();

    });
</script>
</div>