<!-- start Basic info -->
<!-- th:object="${greeting}" -->

<div  ng-form="basicForm" ng-controller="basicInfoCtrl" ng-init="initializeBasicInfo();">

<div   class="container-fluid content-box"  >

    <h4 class="boxToggle btn-secondary"><i class="fas fa-info-circle mr-2 "></i>BASIC INFORMATION</h4>



    <div class="row">

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Date</span>
                <input type="text" name="date" ng-model="basicInfo.entryDate" required class="form-control"/>
                <!--<div role="alert">-->
                <!--<span class="error" ng-show="basicForm.entryDate.$error.required">Date is Required!</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>User Name</span>
                <input type="text" name="username" ng-model="basicInfo.userName" readonly class="form-control"/>
            </div>

        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Location</span>

                <select name="locationId" ng-model="basicInfo.locationId" required class="form-control">
                    <option value="">---Please Select---</option>
                    <option ng-repeat="x in locationDAOs" value={{x.loginUserId}}>{{x.location}}</option>
                </select>

                <!--<div role="alert">-->
                <!--<span class="error" ng-show="basicForm.locationId.$error.required">Location is Required!</span>-->
                <!--</div>-->
            </div>

        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Company Name</span>
                <input type="text" ng-model="basicInfo.company" readonly class="form-control"/>
                <!--
                <select ng-model="basicInfo.company" class="form-control" ng-change="changeItem(basicInfo.company);">
                    <option value="">-&#45;&#45;Please Select-&#45;&#45;</option>
                    <option ng-repeat="x in companyDAOs" value={{x.id}}>{{x.company}}</option>
                </select>
                -->
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Item Description</span>
                <select name="itemId" ng-model="basicInfo.itemId" required class="form-control">
                    <option value="">---Please Select---</option>
                    <option ng-repeat="x in itemDAOs" value={{x.id}}>{{x.itemDescription}}</option>
                </select>

                <!--<div role="alert">-->
                <!--<span class="error" ng-show="basicForm.itemId.$error.required">Item is Required!</span>-->
                <!--</div>-->
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Serial Number</span>
                <input type="number" name="serialNo" ng-model="basicInfo.serialNo" required class="form-control"/>
                <!--<div role="alert">-->
                <!--<span class="error" ng-show="basicForm.serialNo.$error.required">-->
                <!--Serial No. is Required!</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Qty</span>
                <input type="number" name="qty" ng-model="basicInfo.qty" required class="form-control"/>
                <!--<div role="alert">-->
                <!--<span class="error" ng-show="basicForm.qty.$error.required">-->
                <!--Qty is Required!</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Warranty</span>
                <input id="rdwarranty1" type="radio" name="warranty" ng-model="basicInfo.warranty" value="Yes" required class="form-control"/>
                <label for="rdwarranty1">Yes</label>
                <input id="rdwarranty2" type="radio" name="warranty" ng-model="basicInfo.warranty" value="No" required class="form-control"/>
                <label for="rdwarranty1">No</label>
                <!--<div role="alert">-->
                <!--<span class="error" ng-show="basicForm.qty.$error.required">-->
                <!--Qty is Required!</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Manufacturer</span>
                <input type="text" name="manufacturer" ng-model="basicInfo.manufacturer" readonly
                       class="form-control"/>
                <!--<div role="alert">-->
                <!--<span class="error" ng-show="basicForm.manufacturer.$error.required">-->
                <!--Manufacturer is Required!</span>-->
                <!--</div>-->
            </div>
        </div>
    </div>

</div>
<!-- End  Basic info -->

<!-- start Storage Info -->
<div class="container-fluid content-box">

    <h4 class="boxToggle btn-secondary"><i class="fas fa-database mr-2"></i>STORAGE INFORMATION</h4>


    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Storage Location</span>
                <input ng-model="basicInfo.storageLocation" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Stored On Shelf</span>
                <input  name="storageOnShelf" ng-model="basicInfo.storageOnShelf" value="Yes" type="radio" class="form-control"/>
                <input name="storageOnShelf" ng-model="basicInfo.storageOnShelf" value="No" type="radio" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Shelf / Bay Number</span>
                <input name="shelfByNo" ng-model="basicInfo.shelfByNo" type="number" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Stored In Cabinet</span>
                <input name="storedInCabnet" ng-model="basicInfo.storedInCabnet" type="radio" value="Yes" class="form-control"/>
                <input name="storedInCabnet" ng-model="basicInfo.storedInCabnet" type="radio" value="No" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Cabinet Shelf No</span>
                <input name="cabnetShelfNo" ng-model="basicInfo.cabnetShelfNo" type="number" class="form-control"/>
            </div>
        </div>


    </div>


</div>
<!-- End  Storage Info -->

<!-- start ITEM HANDLING  -->
<div class="container-fluid content-box">

    <h4 class="boxToggle btn-secondary"><i class="fas fa-list-ul mr-2"></i>ITEM HANDLING</h4>


    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Special Handling Required</span>
                <input name="spcialHandlinReq" ng-model="basicInfo.spcialHandlinReq" value="Yes" type="radio" class="form-control"/>
                <input name="spcialHandlinReq" ng-model="basicInfo.spcialHandlinReq" value="No" type="radio" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Special Handling Notes</span>
                <input name="specialHandlingNotes" ng-model="basicInfo.specialHandlingNotes" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Approx Weight</span>
                <input name="approxWeight" ng-model="basicInfo.approxWeight" type="text" class="form-control"/>
            </div>
        </div>


    </div>

</div>
<!-- End  ITEM HANDLING  -->

<!-- start CALIBRATION   -->
<div class="container-fluid content-box">

    <h4 class="boxToggle btn-secondary"><i class="fas fa-weight mr-2"></i>CALIBRATION</h4>

    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Calibration Required</span>
                <input name="calibrationRequired" ng-model="basicInfo.calibrationRequired" value="True" type="radio" class="form-control"/>
                <input name="calibrationRequired" ng-model="basicInfo.calibrationRequired" value="False" type="radio" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Date Calibrated</span>
                <input name="calibratedDate" ng-model="basicInfo.calibratedDate" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Validity Of Calibration</span>
                <input name="calibrationValidity" ng-model="basicInfo.calibrationValidity" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Calibration Due Date</span>
                <input name="calibrationDueDate" ng-model="basicInfo.calibrationDueDate" type="text" class="form-control"/>
            </div>
        </div>


    </div>

</div>
<!-- End  CALIBRATION   -->

<!-- start ITEM CONDITION    -->
<div class="container-fluid content-box">

    <h4 class="boxToggle btn-secondary"><i class="fas fa-asterisk mr-2"></i>ITEM CONDITION</h4>

    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <select name="itemReconditioned" ng-model="basicInfo.itemReconditioned" required class="form-control">
                <option value="" selected="selected">---Please Select---</option>
                <option ng-repeat="x in data.availableOptions" value={{x.id}}>{{x.name}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>New</span>
                <input name="itemNew" ng-model="basicInfo.itemNew" type="radio" value="Yes" class="form-control"/>
                <input name="itemNew" ng-model="basicInfo.itemNew" type="radio" value="No" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Used</span>
                <input name="itemUsed" ng-model="basicInfo.itemUsed" type="radio" value="Yes" class="form-control"/>
                <input name="itemUsed" ng-model="basicInfo.itemUsed" type="radio" value="No" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Reconditioned</span>
                <input name="itemReconditioned" ng-model="basicInfo.itemReconditioned" type="radio" value="Yes" class="form-control"/>
                <input name="itemReconditioned" ng-model="basicInfo.itemReconditioned" type="radio" value="No" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Useable</span>
                <input name="itemUseable" ng-model="basicInfo.itemUseable" type="radio" value="Yes" class="form-control"/>
                <input name="itemUseable" ng-model="basicInfo.itemUseable" type="radio" value="No" class="form-control"/>
            </div>
        </div>


    </div>

</div>
<!-- End  ITEM CONDITION    -->

<!-- start SUPPLIER INFORMATION   -->
<div class="container-fluid content-box">

    <h4 class="boxToggle btn-secondary"><i class="fas fa-phone mr-2"></i>SUPPLIER INFORMATION</h4>

    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Supplier</span>
                <input   ng-model="basicInfo.supplierId" name="supplierId" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Supplier Representative</span>
                <input name="supplier_Rep_Id" ng-model="basicInfo.supplier_Rep_Id" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Supplier Representative Mobile</span>
                <input name="supplierRepresentativeMobile" ng-model="basicInfo.supplierRepresentativeMobile" type="text" class="form-control"/>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="form-group">
                <span>Supplier Representative Email</span>
                <input name="supplierRepresentativeEmail" ng-model="basicInfo.supplierRepresentativeEmail" type="email" class="form-control"/>
            </div>
        </div>


    </div>

</div>
<!-- End  SUPPLIER INFORMATION   -->


<hr>
<div class="bottom">
    <div class="row">
        <div class="col-lg-8">


        </div>
        <div class="col-lg-4">
            <div class="float-right">
                <buttton class="btn btn-light " ><i class="fas fa-times mr-1"></i>Cancel </buttton>
                <buttton class="btn btn-warning " ng-click="saveBasicInformation()"><i class="fas fa-check mr-1"></i>Submit</buttton>
            </div>
        </div>
    </div>

</div>



<script>
    $(document).ready(function () {

        $('.boxToggle ').click(function(){
            $(this).next().toggle();


        });

    });
</script>
</div>