<!doctype html >
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Conure Telecom Services</title>

    <!-- Bootstrap core CSS -->
    <link href="/inventory-management/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/inventory-management/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Date picker-->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />

</head>
<body ng-app="CIMS" ng-controller="form">


<div ng-include="'header'"></div>

<form-left-panel></form-left-panel>

<!-- start content -->
<section class="content">
    <div class="title"><i class="fas fa-file-alt mr-2"></i>Form</div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="basic-info" class="tab-pane active">
             <basic-info></basic-info>
        </div>

        <div id="storage-info" class="tab-pane ">
             <storage-info></storage-info>
        </div>


        <div id="item-handling" class="tab-pane ">
            <item-handling></item-handling>
        </div>

        <div id="caliration" class="tab-pane ">
            <caliration></caliration>
        </div>

        <div id="item-conition" class="tab-pane ">
            <item-conition></item-conition>
        </div>

        <div id="supplier-info" class="tab-pane ">
            <supplier-info></supplier-info>
        </div>


    </div>
</section>
<!-- End  content -->

<div ng-include="'footer'"></div>


<!-- Optional JavaScript Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js'></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>-->
<script src="/inventory-management/js/main.js"></script>
<script src="/inventory-management/js/directive.js"></script>

<!-- Optional JavaScript -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--  Datatable js-->
<script src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>

<!--  Date picker-->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>





</body>
<script >

//    $(document).ready(function(){
//        $('.btn-left-panel-form').click(function () {
//            $('.left-panel-form ').toggleClass("show-left-panel-form");
//            $('.content ').toggleClass("form-add-margin");
//        });
//
//    });


</script>

</html>

