<!-- Start header -->
<section class="header" style="    position: fixed; left: 0px; right: 0px;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4">
                <a href="javascript:void(0);" class="text-white"><img src="/inventory-management/images/logo.png" height="32" class="mr-3"/><span>Insite Wireless Group</span></a>
            </div>
            <div class="col-lg-8">
                <div class="float-right menu">
                    <a href="/inventory-management/form" class=""><i class="fas fa-file-alt mr-2"></i>Form</a>
                    <a href="/inventory-management/reports"><i class="fas fa-file-excel mr-2"></i>Reports</a>
                    <a href="/inventory-management/bulk-import"><i class="fas fa-file-excel mr-2"></i>Bulk Import</a>
                    <a href="javascript:void(0);"><i class="fas fa-user-tie mr-2"></i>User</a>
                    <a href="/inventory-management/logout" class="btn btn-danger text-white">Log Out<i
                            class="fas fa-sign-out-alt ml-1"></i></a>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="pt-5"></div>
<!-- End header -->