<!doctype html >
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Conure Telecom Services</title>

    <!-- Bootstrap core CSS -->
    <link href="/inventory-management/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/inventory-management/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


</head>
<body ng-app="CIMS">


<div ng-include="'header'"></div>

<report-left-panel></report-left-panel>

<!-- start content -->
<section class="content">
    <div class="title "><i class="fas fa-file-alt mr-2"></i>Reports</div>
    <!-- Tab panes -->
    <div class="tab-content">

        <div id="report-basic-info" class="tab-pane active">
            <report-basic-info></report-basic-info>
        </div>

        <div id="spare-useage" class="tab-pane ">
            <spare-useage></spare-useage>

        </div>

    </div>


</section>
<!-- End  content -->

<div ng-include="'footer'"></div>


<!-- Optional JavaScript Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js'></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>-->
<script src="/inventory-management/js/main.js"></script>
<script src="/inventory-management/js/directive.js"></script>

<!-- Optional JavaScript -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<!--  Datatable js-->
<script src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>






</body>
<script >

//    $(document).ready(function(){
//        $('.btn-left-panel-form').click(function () {
//            $('.left-panel-form ').toggleClass("show-left-panel-form");
//            $('.content ').toggleClass("form-add-margin");
//        });
//        $('#basic-info-data').DataTable();
//        $('#Spare-Useage-data').DataTable();
//    });


</script>

</html>


