<!-- start Basic info -->
<br>
<div class="container-fluid" ng-controller="ctrl1">
    <div class="col-12">
        <div class="row ">
            <div class="col-xl-4 mt-2">
                <h4 class="mt-2 "><i class="fas fa-info-circle mr-2"></i>BASIC INFORMATION </h4>
            </div>
            <div class="col-xl-4">
                <div class="input-group mb-3 ">
                    <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fas fa-calendar-alt mr-1"></i>Date Range</span>
                    </div>
                    <input type="text" name="daterange" class="form-control"
                           value="01/01/2018 - 01/15/2018"/>
                </div>


            </div>
            <div class="col-xl-4">

                <div class="float-right">
                                <span class="dropdown ">
                                    <button type="button" class="btn btn-warning dropdown-toggle"
                                            data-toggle="dropdown">
                                      <i class="fas fa-pencil-alt mr-1"></i>  Edit Col
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">

                                            <div class="dropdown-item"><input type="checkbox" class="mr-1"  ng-model="checkboxModel.date" /> Date </div>
                                           <div class="dropdown-item"><input type="checkbox" class="mr-1" ng-model="checkboxModel.location" /> Location</div>
                                           <div class="dropdown-item"><input type="checkbox" class="mr-1" ng-model="checkboxModel.venue"/> Venue</div>
                                           <div class="dropdown-item"><input type="checkbox" class="mr-1" ng-model="checkboxModel.userName"/> User Name</div>
                                           <div class="dropdown-item"><input type="checkbox" class="mr-1" ng-model="checkboxModel.companyName"/> Company Name</div>
                                           <div class="dropdown-item"><input type="checkbox" class="mr-1" ng-model="checkboxModel.itemDescription"/> Item Description</div>
                                           <div class="dropdown-item"><input type="checkbox" class="mr-1" ng-model="checkboxModel.itemID"/> Item Id</div>
                                           <div class="dropdown-item"><input type="checkbox" class="mr-1" ng-model="checkboxModel.serialNum"/> Serial Number</div>
                                             <div class="dropdown-item"><input type="checkbox" class="mr-1" ng-model="checkboxModel.qtyUsed"/> Qty Used</div>


                                    </div>
                                </span>
                    <button class="btn  btn-success "><i class="fas fa-file-excel"></i> Excel</button>
                    <button class="btn  btn-success "><i class="fas fa-file-pdf"></i> PDF</button>
                    <button class="btn  btn-success"><i class="fas fa-at"></i> Email</button>
                </div>

            </div>
        </div>
        <div class="border-bottom mb-4"></div>

        <div >
            <table id="basic-info-data" class="table table-bordered bordered table-striped table-condensed datatable"
                   ui-jq="dataTable">
                <thead>
                <tr>
                    <th ng-show="checkboxModel.date">Date</th>
                    <th ng-show="checkboxModel.location">Location</th>
                    <th ng-show="checkboxModel.venue">Venue</th>
                    <th ng-show="checkboxModel.userName">User Name</th>
                    <th ng-show="checkboxModel.companyName">Company Name</th>
                    <th ng-show="checkboxModel.itemDescription">Item Description</th>
                    <th ng-show="checkboxModel.itemID">Item Id</th>
                    <th ng-show="checkboxModel.serialNum">Serial Number</th>
                    <th ng-show="checkboxModel.qtyUsed">Qty Used</th>


                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="n in data">
                    <td ng-show="checkboxModel.date">{{n[0]}}</td>
                    <td ng-show="checkboxModel.location">{{n[1]}}</td>
                    <td ng-show="checkboxModel.venue">{{n[2]}}</td>
                    <td ng-show="checkboxModel.userName">{{n[3]}}</td>
                    <td ng-show="checkboxModel.companyName">{{n[4]}}</td>
                    <td ng-show="checkboxModel.itemDescription">{{n[5]}}</td>
                    <td ng-show="checkboxModel.itemID">{{n[6]}}</td>
                    <td ng-show="checkboxModel.serialNum">{{n[7]}}</td>
                    <td ng-show="checkboxModel.qtyUsed">{{n[8]}}</td>

                </tr>


                </tbody>

            </table>
        </div>


    </div>

</div>

<!-- End  Basic Info -->